@CHARSET "UTF-8";
.sea_checkgroup{
	text-align:center;	
}
.sea_buttongrou ul{
}
.sea_checkgroup li{
	display: inline;
	margin:0 20px;
}
.sea_checkgroup input{ 
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	vertical-align:middle;
}

.sea_checkgroup label{
	vertical-align:middle;
}
 