@CHARSET "UTF-8";
.sea_nav {
	position: relative;
	display: block;
	width: 100%;
	height: 35px;
	line-height: 35px;
	background-color: #0b74bf;
}
.sea_nav_main {
}
.sea_nav_main>li {
	float: left;
	display: block;
}
.sea_nav_main>li>a {
	display: block;
	text-decoration: none;
	text-align: center;
	min-width: 120px;
	height: 35px;
	line-height: 35px;
	color: #fff;
	border-left: 1px solid #3399CC;
}
.sea_nav_main>li>a:nth-of-type(0){
	border-left:0;
}
.sea_nav_main>li>a:hover {
	font-weight: bold;
}
.sea_nav_active {
	font-weight: bold;
	background-color: #0b74bf;
	background: -ms-linear-gradient(bottom, #3300CC, #F8F8FC, #3300CC);
	background: -mo-linear-gradient(bottom, #FFFFFF, #F8F8FC, #D6E0F5);
	background: -webkit-linear-gradient(bottom, #0b74bf, #006699, #0b74bf);
	height:35px;
}
.sea_nav_active:after{
	position:relative;
	background-color: #FFF;
	content: "\00a0";
	display: block;
	height: 8px;
	width: 8px;
	left: 45%;
	bottom:4px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.sea_nav_dropdown:hover>.sea_nav_sub {
	display: block;
}
.sea_nav_sub {
	display: none;
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 100%;
	left: 0;
	width: 180px;
	background-color: #0b74bf;
}
.sea_nav_sub>li {
	float: none;
	position: relative;
	display: block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.sea_nav_sub>li>a {
	display: block;
	float: none;
	text-decoration: none;
	outline: none;
	text-transform: uppercase;
	padding: 10px 22px;
	color: #fff;
	border-bottom: 1px solid #444444;
	height: 35px;
	line-height: 35px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.sea_nav_sub>li:first-child>a {
	border-top: none;
}
.sea_nav_sub>li:last-child>a {
	border-bottom: none;
}
.sea_nav_sub .sea_nav_sub {
	top: 0;
	left: 100%;
}