@CHARSET "UTF-8";
.sea_viewLayout{
	background-color:#ffffff;
	border:1px solid #d5d5d5; 
	 border-radius: 4px 4px 0 0;
	 line-height:200%;
}
.sea_viewLayout_title {
	text-align:left;
    background-color: #F6F6F6;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#F9F9F9), to(#EDEDED));
	background-image: -webkit-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: -moz-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: -ms-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: -o-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
  
	border-bottom:1px solid #d5d5d5; 
    box-shadow: 0 1px 0 0 #FFFFFF inset, 0 1px 0 rgba(255,255,255,0.4);
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
} 
.sea_viewLayout_table {
	background-color: transparent;
}
.sea_viewLayout_tr {
	padding: 8px 10px;
	text-align: left;
	background-color: transparent;
}
.sea_viewLayout_tr:nth-of-type(1) {
	padding-top: 16px ;
}
.sea_viewLayout_tr:last-child {
	border-bottom:0;
}
.sea_viewLayout_td {
	display: inline-block;
	background-color: transparent;
	vertical-align: middle;
}
.sea_viewLayout_label {
	overflow: hidden;
	padding-right: 3px;
	text-align: right;
}
.sea_viewLayout_label label {
	word-wrap: break-word;
	background-color: transparent;
	padding-right:5px;
}
.sea_viewLayout_label label:after{
	content:"\:";
}
.sea_viewLayout_field {
	text-align: left;
}