<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>drop</title>
<script src="../../../../sea/core/jquery/jquery.js"></script>
<script src="drop.js"></script>
<link href="drop.css" rel="stylesheet" type="text/css" />
<style type="text/css">
</style>
<script type="text/javascript">
	$(function() {
		$(".droper").drop({
			onStart:function(jq){
				/* alert(jq.attr("id")) */
			},
			onEnd:function(jq){
				/* alert(jq.parent().attr("id")) */
			}
		});
	});
	
	
</script>
</head>
<body>
<div class="sea_dropmain">
	<div class="drop_title">drop test</div>
	<div class="droper drager">
		<div class="dropitem" >1111</div>
		<div class="dropitem">2222</div>
		<div class="dropitem">3333</div>
		<div class="dropitem">4444</div>
	</div>
</div>
<div class="sea_dropmain">
 	<div class="drop_title">drop test</div>
	<div class="droper">
		<div class="dropitem" >1111</div>
	</div>
</div>
 
<div class="sea_dropmain" style="width:700px;">
 	<div class="drop_title">drop test</div>
	<div class="droper">
	</div>
</div>
</body>
</html>