@CHARSET "UTF-8"; 
.sea_bread{
	margin:0;
	padding:0;
	color: #666;
	background-color: #F6F6F6;
	text-align:left; 
} 
 
.sea_bread ul{
	margin:0;
	padding-left:5px;
}
.sea_bread li{
	display: inline;
	line-height:30px;
	height:30px;
	margin-right:3px;
}
.sea_bread a{  
	color: #222;
	cursor: pointer;
	text-decoration: none;
}

.sea_bread a:hover { 
	text-decoration: none;
}
.sea_bread a:link {
	text-decoration: none;
}
.sea_bread a:visited {
	text-decoration: none;
}

.sea_bread a:active {
	text-decoration: none;
}