@CHARSET "UTF-8";
.sea_buttongroup{
	text-align:center;	
}
.sea_buttongrou ul{
}
.sea_buttongroup li{
	list-style-type:none;
}
.sea_buttongroup a{ 
	margin-right:20px;
	padding: 8px 30px;	
	border-radius: 4px;
	background-color: #3366FF;
	color: #fff;
	font-weight:bold;
	cursor: pointer;
	text-decoration: none;
}

.sea_buttongroup a:hover {
	background-color: #3399FF;
	text-decoration: none;
}
.sea_buttongroup span {
	margin-right:5px;
	vertical-align: middle;
}